.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.781);
    z-index: 1;
    display: none;
}

.popup .content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: #fff;
    width: 500px;
    height: 650px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    display: flex;
  

}
.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #000;
    font-size: 25px;
    font-weight: 600px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}
.popup.activing .overlay{
display: block;
}
.popup.activing .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
    }

    .read1{
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 10.5em;
    }
    .read2{
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 0em;
    }
    .read3{
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 14em;
    }
    .read4{
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 0em;
    }
    .read5{
        
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 12.5em;
    
}
   
    .read6{
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 0em;
    }

    .read7{
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 12.5em;
    }
    .read8{
        
        background-color: #fff;
        color: #000;
        font-size: 14px;
        outline: none;
        margin-top: 1em;
        left: 0em;
    
}


    .popoup-text1{
        font-family: 'nunito';
        font-size: 14px;
        margin-left: 3em;
        margin-top: 3em;
    }
    .popoup-text2{
        font-family: 'nunito';
        font-size: 14px;
        margin-left: 6em;
        margin-top: 3em;
    }
    .popoup-text4{
        font-family: 'nunito';
        font-size: 14px;
        margin-left: 6em;
        margin-top: 3em;
    }
    .popoup-text3{
        font-family: 'nunito';
        font-size: 14px;
        margin-left: 4em;
        margin-top: 3em;
    }

    @media screen and (max-width:849px){
   

    .read1{
        left:4.5em;
        top:-1.3em;
    }
    .read2{
        left:5.5em;
        top:-1.3em;
    }
    .read3{
      
        top: -1.3em;
        left: 6.5em;
    }
    .read4{
       
        top: -1.3em;
        left: 4em;
    }
    .read5{
        
      
        top: -1.3em;
        left: 5em;
    
}
   
    .read6{
       
        top: -1.3em;
        left: 4em;
    }

    .read7{
      
        
        top: -1.3em;
        left: 5em;
    }
    .read8{
        left: 3.5em;
    top: -1.3em;
       
        
    
}


    .popoup-text1{
        font-family: 'nunito';
        font-size: 10px;
       
    }
    .popoup-text2{
        font-family: 'nunito';
        font-size: 10px;
     
    }
    .popoup-text3{
        font-family: 'nunito';
        font-size: 10px;
        
    }
    .popoup-text4{
        font-family: 'nunito';
        font-size: 10px;
        margin-left: 3em;
        
    }
    .popup .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 1;
        display: none;
    }
    .popup .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        
        width: 350px;
        height: 450px;
        z-index: 2;
        text-align: center;
        padding: 20px;
       border: none;
        display: flex;
        
      
    
    }
  
    
    }
    @media screen and (min-width:850px) and (max-width:1000px){

        .read1{
            left:6em;
            top:-1.3em;
        }
        .read2{
            left:8em;
            top:-1.3em;
        }
        .read3{
          
            top: -1.3em;
            left: 8em;
        }
        .read4{
           
            top: -1.3em;
            left: 6em;
        }
        .read5{
            
          
            margin-top: 0.7em;
            left: 8em;
        
    }
       
        .read6{
           
            margin-top: 0.7em;
            left: 6em;
        }
    
        .read7{
          
            
            margin-top: 0.7em;
            left: 7.5em;
        }
        .read8{
            left: 6em;
        margin-top: 0.7em;
           
            
        
    }
    
     }
  